@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans Bold", sans-serif;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
}
@font-face {
  font-family: "Noto Sans Bold", sans-serif;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
}

body {
  background-color: #eee5e9;
  padding: 60px;
}

h1 {
  -webkit-text-fill-color: #a78a7f;
  font-family: "Work Sans Bold", sans-serif;
}

h2 {
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
}

.homepage-content {
  display: flex;
  flex-direction: column;
}

.home-first-column {
  align-items: center;
}

.homepage-text-first {
  font-family: "Work Sans", sans-serif;
  font-size: 10;
  -webkit-text-fill-color: #a78a7f;
}

.logo {
  text-decoration: none;
  font-family: "Noto Sans Bold", sans-serif;
  font-size: 25;
  padding: 0;
  margin: 0;
  letter-spacing: -1.5px;
  -webkit-text-fill-color: #1a202c;
}

.logo:hover {
  text-decoration: underline;
  -webkit-text-fill-color: #040507;
}

.nav-link {
  text-decoration: none;
  padding-left: 1svw;
  font-family: "Work Sans", sans-serif;
  -webkit-text-fill-color: #f1bf98;
}

.navbar {
  width: 100%;
  backdrop-filter: blur(10px);
}

.nav-link:hover {
  text-decoration: underline;
  font-family: "Work Sans", sans-serif;
  -webkit-text-fill-color: #d19d75;
}

.suggestions {
  -webkit-text-fill-color: #242222;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  padding-top: 1svh;
}

.suggestions:hover {
  font-family: "Work Sans Bold", sans-serif;
  -webkit-text-fill-color: #121212;
}

.buttonSearch:hover {
  cursor: pointer;
  background-color: #eee5e9;
  border: none;
  height: 3svh;
  width: 3svw;
}

.search {
  height: 4svh;
  width: 12svh;
  border-radius: none;
}